@import 'Colors.scss';
     

     *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }

     body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100Vh;
// min-height: 100Vh;
background: $Primary-color;
}
 @mixin  formValueInputs{
      border-bottom: darken($text-color, 50%) 2px solid;
      position: relative;
      animation-delay: .3s;
      animation-duration: .3s;
      animation-iteration-count:1;
      animation-name: MoveUp;
      animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: .5s;
      font-weight: 500;
 }
.clock{
         justify-content: center;
         width: 350px;
         height: 350px;
         display: flex;
         align-items: center;
         align-items: center;
         background: url(../Images/image2.png) no-repeat;
         background-size: cover;
         border-radius: 50%;
        //  border: .01px solid mix($Primary-color, $text-color);
         box-shadow : 0 -5px 15px $secondary-color,
                    inset 0 -15px 15px $secondary-color,
                     0 -5px 15px rgba(0, 0, 0, .5),
                    inset 0 -15px 15px darken($Primary-color,90%);
                    &:before{
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        background: $text-color;
                        border-radius: 50%;
                        z-index: 100000;
                    }
                    .hour,.min,.Sec{
                        position: absolute;
                    }
                    .hour, .hr {
                        width: 160px;
                        height: 160px;
                    }
                    .mn, .min {
                        width: 190px;
                        height: 190px;
                    }
                    .Sec, .sc {
                        width: 230px;
                        height: 230px;
                    }
     }
     .setAlarm{
         z-index: 1000;
         content: "||";
        //  display:absolute;
        //  position: relative;
        //  align-items:flex-end;
        border-radius: 3px;
        border: none;
        color: $secondary-color;
            opacity: .8;
        &>.setAlarmBtn{
       background: lighten($secondary-color, 8%) !important;
       width: 1.2em;
       height: 1.3em;
       border: none;
       z-index: 1;
       border-right: solid 1px black;
       border-radius: 1px 11px 11px 3px;
       box-shadow: 0 -5px 15px $secondary-color,
       inset 0 -15px 15px lighten($Primary-color, 90%),
       0 -5px 15px rgba(191, 186, 186, 0.5);
     
        &:focus{
            border: none !important;
        }
   }
    
   
     
        }
     .hr,.mn,.sc{
display: flex;
justify-content: center;
// align-items: center;
position: absolute;
border-radius:50% ;
     }
     .sc:before {
         content: "";
         position: absolute;
         width:2px ;
         height:150px ;
         background: darken($secondary-color,40%);
         z-index: 12;
         border-radius: 6px 6px 0 0;
     }
     .mn:before {
         content: "";
         position: absolute;
         width:4px ;
         height:100px ;
         background: darken($secondary-color,100%);
         z-index: 11;
         border-radius: 6px 6px 0 0;
     }
     .hr:before{
         content: "";
         position: absolute;
         width:8px ;
         height:80px ;
         background: mix(#ff105e, $secondary-color);
         z-index: 10;
         border-radius: 6px 6px 0 0;
     }
     .form-contentClock{
    display: flex;
        &>textarea{
            &:placeholder-shown{
                // mean if the place holder is still shown  
                border-bottom:  lighten($text-color,20%);
            }
            &:not(:placeholder-shown){
                // mean if the place holder is still Not shown  
                background-color: lighten($text-color, 89%);
                border-bottom: lighten($Primary-color, 4%);
            }
            width: 90%;
            margin: auto;
            margin-bottom: 1em;
            border: none;
            @include formValueInputs;
            &:focus{
                border-bottom: lighten($secondary-color, 20%);
                border: none;
            }

        }
     }
     
     .SchedulList{
          width:100%;
          height: fit-content;
          display:grid ;
          border-bottom: lighten($text-color,40%) solid 1.5px;
          grid-template-columns: 1fr 50px ;
            justify-content: space-between;
            grid-template-rows: auto;
            column-gap: 3.4px;
            row-gap: 2%;
            grid-row-gap:2;
            grid-auto-flow: row;
            grid-column-gap:2;
          >.AlarmDiscription{
                word-break: break-all;
            }
            >.scdu{
                padding: 0 2px 0 60%;
                &>*{
                  margin: auto;
                  background: lighten($Primary-color, 40%);
                  width: 1.4em;
                 }
          }
     }
      .CreateTheEventsContainer {
          width: 100%;
          display: block;
          flex-flow: column;
          align-items: center;
          text-align: center;
          margin: 0.5em auto;
          &>button,&>*>button {
              width: 1.6em;
              background: lighten($Primary-color, 40%);
              border: none;
              margin: auto;
              border-radius: 53%;
              cursor: pointer;
              &:hover{
              width: 2.1em;
                  border: 2px solid lighten($Primary-color,12%);
                  transition-delay:10ms;
                  animation-delay: 4ms;
                   background: lighten($Primary-color, 80%);

               }
          }
      }
     .inlineFormate {
         display: flex;
         justify-content: space-between;
         flex-flow: row;
         overflow: auto;
        
         &>*>select{
             cursor: pointer;
                 border: none;
                 margin: 1px;
                 border-bottom: $secondary-color 1px solid;
                 //  border-bottom: blue 1px solid;
                 &>*{
                     border: none;
                     background: lighten($Primary-color, 90%);
                            &:hover{
                                background: lighten($Primary-color, 90%);
                            }
                 }
                 
                 &:hover,:focus{
                    @include formValueInputs

                       
                       
                    }
                    @keyframes MoveUp {
                        from {
                            transform: rotate(-25deg);
                        }
                        
                        
                        45%{
                            animation-timing-function:ease-out
                   }
                   
                   95%{
                    bottom: .4em;
                    // bottom: .em;
                   }
                }
         }
     }
      @media (max-width:$small) {
          .inlineFormate {
              flex-flow: column;
              align-items: center;

          }

      }